header {
  margin-top: 1%;
  padding: 10px;
  box-shadow: 3px 3px 15px 3px #888;
}

h1 {
  display: inline-block;
}

p {
  display: inline-block;
}

input {
  float: right;
  border: 1px solid #888;
  display: block;
}

ol {
  text-align: left;
  text-indent: 30%;
}
